{% extends 'header.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Enter OTP</h1>

        {% if msg%}
        <b style="color: blue;">{{msg}}</b>
        {% endif %}
        <form action="{% url 'verify-otp' %}" method="post" name="login" >
            {% csrf_token %}
            <table>
               <tr>
                <td><input type="hidden" name="email" value="{{email}}"></td>
                <td><input type="hidden" name="otp" id="" value="{{otp}}"></td>
               </tr>
                <tr>
                    <td>Enter OTP</td>
                    <td><input type="text" name="uotp" id=""></td>
                </tr>
                
            
                
                <tr>
                    <td><input type="submit"  class="btn btn-success"  value="Verify OTP"></td>
                </tr>
            </table>
        </form>
    </center>   
    
</body>
</html>
{% endblock %}