{% extends 'header.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    
</head>
<body>
    <center>
        <h1>Sign Up</h1>

        {% if msg%}
        <b style="color: blue;">{{msg}}</b>
        {% endif %}
        <form action="{% url 'signup' %}" method="post" name="signup" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" name="fname" id=""></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" name="lname" id=""></td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type="text" name="mobile" id=""></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id=""></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="radio" name="gender" value="male">Male
                        <input type="radio" name="gender" value="female">Female
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" name="location"></td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td><textarea name="remarks" id="" cols="22" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" name="cpassword"></td>
                </tr>
                <tr>
                    <td>Profile Pic</td>
                    <td><input type="file" name="profile_pic" id=""></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><input type="submit"  class="btn btn-success" name="signup" value="Sing Up"></td>
                </tr>
            </table>
        </form>
    </center>   
</body>
</html>
{% endblock %}